kapital-handoff/wf_final_state.json
[{"updatedAt":"2026-06-22T11:31:37.753Z","createdAt":"2026-06-11T20:37:15.219Z","id":"0vbPVWktPYDlqg05","name":"WF_K2_K3_combined","description":"v11.4: clear pending_setting after successful setv_X","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"id":"tg_trigger","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[240,2176],"webhookId":"03727273-87bd-4d80-b4fe-4f413a3618ee","credentials":{"telegramApi":{"id":"FFEoaHcVp03YhFc1","name":"Telegram Kapital Bot"}}},{"parameters":{"jsCode":"// Классификация входящего сообщения или callback_query\nconst update = $input.first().json;\n\nlet route = 'other';\nlet user_id = null;\nlet message_id = null;\nlet text = '';\nlet is_forwarded = false;\n\nif (update.callback_query) {\n  const cq = update.callback_query;\n  user_id = cq.from.id;\n  message_id = cq.message ? cq.message.message_id : null;\n  text = cq.data || '';\n  if (text === 'cmd_done') route = 'done';\n  else if (text === 'cmd_goal' || text === 'cmd_status') route = 'goal';\n  else if (text === 'cmd_fraud') route = 'fraud';\n  else if (text === 'cmd_payday') route = 'payday';\n  else if (text === 'cmd_reset') route = 'reset';\n  else if (text === 'cmd_test') route = 'test';\n  else if (text === 'cmd_help') route = 'help';\n  else if (text === 'cmd_settings') route = 'settings';\n  else if (text.startsWith('setv_')) route = 'set_value';\n  // Sprint 1.3: /schedule + inline buttons routing (СПЕЦИФИЧЕСКИЕ ПЕРЕД generic)\n  else if (text === 'cmd_set_schedule_preset') route = 'schedule_show_presets';\n  else if (text === 'cmd_set_remind_0' || text === 'cmd_set_remind_3') route = 'schedule_set_remind';\n  else if (text === 'cmd_schedule_pause_month') route = 'schedule_pause';\n  else if (text === 'cmd_schedule_resume') route = 'schedule_resume';\n  else if (text.startsWith('schv_')) route = 'schedule_set_preset';\n  else if (text.startsWith('sch_')) route = 'sch_action';\n  // Sprint 2.0: schedule v2 — новый flow с 4-кнопочным UI\n  else if (text.startsWith('sch_')) route = 'sch_action';\n  // Generic set_callback для settings — ПОСЛЕ schedule\n  else if (text.startsWith('cmd_set_')) route = 'set_callback';\n  else if (text.startsWith('dash_') || text === 'cmd_dashboard') route = 'today';\n  else if (text === 'cmd_today') route = 'today';\n  else if (text === 'cmd_plan') route = 'plan';\n  else if (text === 'cmd_share') route = 'share';\n  else if (text === 'cmd_iis3') route = 'iis3';\n  else if (text === 'cmd_setup') route = 'setup';\n  else if (text === 'cmd_ask') route = 'ask';\n}\nelse if (update.message) {\n  const msg = update.message;\n  user_id = msg.from.id;\n  message_id = msg.message_id;\n  text = (msg.text || msg.caption || '').trim();\n  // Проверяем forwarded сообщение\n  is_forwarded = !!(msg.forward_from || msg.forward_from_chat || msg.forward_sender_name || msg.forward_signature);\n  if (text.startsWith('/')) {\n    if (text === '/start' || text.startsWith('/start@')) route = 'start';\n    else if (text === '/done' || text.startsWith('/done@')) route = 'done';\n    else if (text === '/goal' || text.startsWith('/goal@')) route = 'goal';\n    else if (text === '/status' || text.startsWith('/status@')) route = 'goal';\n    else if (text === '/today' || text.startsWith('/today@')) route = 'today';\n    else if (text === '/dashboard' || text.startsWith('/dashboard@')) route = 'today';\n    else if (text === '/plan' || text.startsWith('/plan@')) route = 'plan';\n    else if (text === '/share' || text.startsWith('/share@')) route = 'share';\n    else if (text === '/iis3' || text.startsWith('/iis3@')) route = 'iis3';\n    else if (text === '/ask' || text.startsWith('/ask ') || text.startsWith('/ask@')) route = 'ask';\n    else if (text === '/setup' || text.startsWith('/setup@')) route = 'setup';\n    else if (text === '/fraud' || text.startsWith('/fraud@')) route = 'fraud';\n    else if (text === '/help' || text.startsWith('/help@')) route = 'help';\n    else if (text === '/reset' || text.startsWith('/reset@')) route = 'reset';\n    else if (text === '/test' || text.startsWith('/test@')) route = 'test';\n    else if (text === '/settings' || text.startsWith('/settings@')) route = 'settings';\n    else if (text === '/schedule' || text.startsWith('/schedule@')) route = 'schedule';\n    else if (text === '/digest' || text.startsWith('/digest@')) route = 'digest';\n  } else if (is_forwarded && text.length >= 20) {\n    // Forwarded сообщение → fraud-check\n    route = 'fraud_inline';\n  } else if (text.length >= 1) {\n    // Любой свободный текст → ИИ-ассистент\n    route = 'ask';\n  }\n}\n\nreturn [{ json: { route, user_id, message_id, text, is_forwarded, update } }];\n"},"id":"classify","name":"Classify","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,2176]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"start","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_start","name":"IF start","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,2176]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"done","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_done","name":"IF done","type":"n8n-nodes-base.if","typeVersion":2,"position":[912,2272]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"goal","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_goal","name":"IF goal","type":"n8n-nodes-base.if","typeVersion":2,"position":[1136,2368]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"payday","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_payday","name":"IF payday","type":"n8n-nodes-base.if","typeVersion":2,"position":[1360,2464]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"today","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_today","name":"IF today","type":"n8n-nodes-base.if","typeVersion":2,"position":[1584,2560]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"plan","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_plan","name":"IF plan","type":"n8n-nodes-base.if","typeVersion":2,"position":[1808,2656]},{"parameters":{"conditions":{"combinator":"or","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"fraud_inline","operator":{"type":"string","operation":"equals","singleValue":true}},{"id":"c2","leftValue":"={{ $json.route }}","rightValue":"fraud","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_fraud_inline","name":"IF fraud_inline","type":"n8n-nodes-base.if","typeVersion":2,"position":[2032,2752]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"share","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_share","name":"IF share","type":"n8n-nodes-base.if","typeVersion":2,"position":[2256,2848]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"iis3","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_iis3","name":"IF iis3","type":"n8n-nodes-base.if","typeVersion":2,"position":[2480,2944]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"reset","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_reset","name":"IF reset","type":"n8n-nodes-base.if","typeVersion":2,"position":[2704,3040]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"setup","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_setup","name":"IF setup","type":"n8n-nodes-base.if","typeVersion":2,"position":[5616,3640]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"test","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_test","name":"IF test","type":"n8n-nodes-base.if","typeVersion":2,"position":[4944,4432]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"fraud","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_fraud","name":"IF fraud","type":"n8n-nodes-base.if","typeVersion":2,"position":[5168,3640]},{"parameters":{"conditions":{"combinator":"or","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"help","operator":{"type":"string","operation":"equals","singleValue":true}},{"id":"c2","leftValue":"={{ $json.route }}","rightValue":"help","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_help","name":"IF help","type":"n8n-nodes-base.if","typeVersion":2,"position":[5392,3736]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/streak_update","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_streak","name":"HTTP streak","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1136,256]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/goal_progress","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_goal_done","name":"HTTP goal (for done)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1360,256]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/goal_progress","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_goal_goal","name":"HTTP goal (for goal)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1360,448]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/payday_calc","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_payday","name":"HTTP payday","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1584,640]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/dashboard/text","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id), layout: \"classic\" }) }}","options":{}},"id":"http_today","name":"HTTP today","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1808,832]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/plan","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_plan","name":"HTTP plan","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2032,1024]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/fraud_check","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: $('Classify').first().json.text, user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_fraud","name":"HTTP fraud","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2256,1216]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/share","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_share","name":"HTTP share","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2480,1408]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/iis3","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_iis3","name":"HTTP iis3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2704,1600]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/reset_state","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id), confirm: true }) }}","options":{}},"id":"http_reset","name":"HTTP reset","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,4656]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/fraud_check","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: 'СРОЧНО! Переведи 50000 рублей на карту 4276 1234 5678 9012 для получения приза. Только сегодня! Гарантия 100%!', user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_test_fraud","name":"HTTP test_fraud","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5168,4384]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/goal_progress","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: 'test_demo_user' }) }}","options":{}},"id":"http_test_goal","name":"HTTP test_goal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5392,4384]},{"parameters":{"jsCode":"// Build body for /start reply with persistent profile + 8 inline buttons\nconst user_id = $('Classify').first().json.user_id;\nconst state = $('HTTP get_state').first().json.state;\nconst name = state._name || 'Инвестор';\nconst payday_day = state.payday_day || 5;\nconst monthly = state.monthly_amount || 15000;\nconst streak = state.current_streak || 0;\nconst goal = state.goal || {target_amount: 600000, current_amount: 0};\nconst pct = goal.target_amount > 0 ? Math.min(100, Math.round(goal.current_amount / goal.target_amount * 100)) : 0;\nconst is_default = name === 'Инвестор';\n\nconst greeting = is_default\n  ? `👋 Привет! Я — Капитал, твой личный DCA-помощник.\\n\\nЧтобы начать, настрой профиль одной командой:\\n/setup 5 15000 balanced 1000000 5.5 alfa A3\\n\\nФормат: payday день monthly риск цель сумма цель лет брокер тип_ИИС`\n  : `👋 С возвращением, ${name}!\\n\\n📊 Твой профиль:\\n• Payday: ${payday_day}-е число, ${monthly.toLocaleString('ru-RU')}₽/мес\\n• Цель: ${goal.target_amount.toLocaleString('ru-RU')}₽ (${pct}%)\\n• Streak: ${streak} мес 🔥\\n\\nЧто дальше?`;\n\nconst body = {\n  chat_id: user_id,\n  text: greeting,\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"📅 /today — сегодня и payday\", callback_data: \"cmd_today\"}],\n      [{text: \"📋 /plan — план на месяц\", callback_data: \"cmd_plan\"}],\n      [{text: \"✅ /done — засчитать payday\", callback_data: \"cmd_done\"}, {text: \"🎯 /goal\", callback_data: \"cmd_goal\"}],\n      [{text: \"🏦 /iis3 — ИИС статус\", callback_data: \"cmd_iis3\"}, {text: \"📤 /share — карточка\", callback_data: \"cmd_share\"}],\n      [{text: \"🔍 /fraud — проверить\", callback_data: \"cmd_fraud\"}, {text: \"⚙ /setup — настройки\", callback_data: \"cmd_setup\"}],\n      [{text: \"❓ /help — все команды\", callback_data: \"cmd_help\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_start","name":"fmt start","type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,64]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/get_state","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_get_state","name":"HTTP get_state","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[912,64]},{"parameters":{"jsCode":"// Build body for /done reply: streak + goal + прогноз\nconst user_id = $('Classify').first().json.user_id;\nconst streak = $('HTTP streak').first().json;\nconst goal = $('HTTP goal (for done)').first().json;\nconst state = $('HTTP get_state (2)').first().json.state;\nconst monthly = state.monthly_amount || 15000;\nconst target = (state.goal && state.goal.target_amount) || 600000;\nconst current = (state.goal && state.goal.current_amount) || 0;\n\nconst new_streak = streak.current_streak || 0;\nconst months_to_goal = monthly > 0 ? Math.max(1, Math.ceil((target - current) / monthly * 12 / 12)) : 0;\nconst future_with_yield = Math.round((current * 1.12) + (monthly * 12 * new_streak * 1.12 / 2));\n\nlet milestone_text = '';\nif (streak.milestone === '3mo') milestone_text = '\\n\\n🎉 3 месяца подряд! +5% годовых vs нерегулярные.';\nelse if (streak.milestone === '6mo') milestone_text = '\\n\\n🔥 6 месяцев! Ты обогнал 70% инвесторов.';\nelse if (streak.milestone === '1y') milestone_text = '\\n\\n🏆 1 ГОД. Это уже не привычка — это характер.';\n\nconst body = {\n  chat_id: user_id,\n  text: streak.message + milestone_text + `\\n\\n📈 Прогноз: при ${monthly.toLocaleString('ru-RU')}₽/мес → цель ${target.toLocaleString('ru-RU')}₽ через ~${months_to_goal} мес`,\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"📤 Поделиться streak\", callback_data: \"cmd_share\"}],\n      [{text: \"📋 План на следующий месяц\", callback_data: \"cmd_plan\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_done","name":"fmt done","type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,256]},{"parameters":{"jsCode":"// Build body for /goal reply\nconst user_id = $('Classify').first().json.user_id;\nconst goal = $('HTTP goal (for goal)').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: goal.message,\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"📤 Поделиться\", callback_data: \"cmd_share\"}, {text: \"🏦 ИИС-3\", callback_data: \"cmd_iis3\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_goal","name":"fmt goal","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,448]},{"parameters":{"jsCode":"// Build body for /payday reply\nconst user_id = $('Classify').first().json.user_id;\nconst payday = $('HTTP payday').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: payday.message,\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"✅ Сделал /done\", callback_data: \"cmd_done\"}],\n      [{text: \"📅 Добавить к вычету\", callback_data: \"cmd_iis3\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_payday","name":"fmt payday","type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,640]},{"parameters":{"jsCode":"// Build body for /today reply — short format\nconst user_id = $('Classify').first().json.user_id;\nconst today = $('HTTP today').first().json;\n\nlet text = today.text || today.message || '';\nif (text && text.length > 400) {\n  const widgets = text.split('\\n\\n');\n  let count = 0;\n  let result = [];\n  for (const w of widgets) {\n    result.push(w);\n    if (w.match(/^\\*\\*[^*]+\\*\\*/)) count++;\n    if (count >= 2) break;\n  }\n  text = result.join('\\n\\n') + '\\n\\n_Полный дашборд: https://ejgxa2qa9mpl.space.minimax.io_';\n}\n\nconst body = {\n  chat_id: user_id,\n  text: text || '📊 Открой дашборд',\n  reply_markup: today.reply_markup || {\n    inline_keyboard: [\n      [{text: '📊 Полный дашборд', url: 'https://ejgxa2qa9mpl.space.minimax.io'}],\n      [{text: '📋 /plan', callback_data: 'cmd_plan'}, {text: '🏦 /iis3', callback_data: 'cmd_iis3'}]\n    ]\n  },\n  parse_mode: 'Markdown',\n  disable_web_page_preview: true\n};\nreturn [{ json: { body } }];"},"id":"fmt_today","name":"fmt today","type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,832]},{"parameters":{"jsCode":"// Build body for /plan reply\nconst user_id = $('Classify').first().json.user_id;\nconst plan = $('HTTP plan').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: plan.message,\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"✅ Сделал по плану\", callback_data: \"cmd_done\"}, {text: \"🏦 /iis3\", callback_data: \"cmd_iis3\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_plan","name":"fmt plan","type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,1024]},{"parameters":{"jsCode":"// Build body for /fraud_inline reply (or /fraud text)\nconst user_id = $('Classify').first().json.user_id;\nconst fraud = $('HTTP fraud').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: fraud.reply\n};\n// Only add reply_to_message_id if is_forwarded (for fraud_inline use case)\nif ($('Classify').first().json.is_forwarded) {\n  body.reply_to_message_id = $('Classify').first().json.message_id;\n}\nreturn [{ json: { body } }];"},"id":"fmt_fraud_inline","name":"fmt fraud_inline","type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,1216]},{"parameters":{"jsCode":"// Build body for /share reply\nconst user_id = $('Classify').first().json.user_id;\nconst share = $('HTTP share').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: share.card,\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"🔄 Обновить прогресс\", callback_data: \"cmd_goal\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_share","name":"fmt share","type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,1408]},{"parameters":{"jsCode":"// Build body for /iis3 reply\nconst user_id = $('Classify').first().json.user_id;\nconst iis = $('HTTP iis3').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: iis.message,\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"📤 Поделиться\", callback_data: \"cmd_share\"}],\n      [{text: \"📋 План на декабрь\", callback_data: \"cmd_plan\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_iis3","name":"fmt iis3","type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,1600]},{"parameters":{"jsCode":"// Build body for /reset reply\nconst user_id = $('Classify').first().json.user_id;\nconst reset = $('HTTP reset').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: reset.message\n};\nreturn [{ json: { body } }];"},"id":"fmt_reset","name":"fmt reset","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,4656]},{"parameters":{"jsCode":"// Build body for /setup reply — single-message onboarding\nconst user_id = $('Classify').first().json.user_id;\nconst text = `⚙️ **Настройка профиля**\n\nОтветь одной строкой в формате:\n\\`payday день monthly риск цель₽ лет брокер ИИС_тип\\`\n\nПример:\n\\`5 15000 balanced 1000000 5.5 alfa A3\\`\n\nПараметры:\n• **payday день** — 1-31 (когда зарплата)\n• **monthly** — сумма в месяц, ₽\n• **риск** — conservative | balanced | aggressive\n• **цель₽** — целевой капитал\n• **лет** — горизонт\n• **брокер** — tinkoff | alfa | bcs | finam | sber | alor\n• **ИИС_тип** — A | B | A3 | none\n\nПосле настройки бот начнёт:\n• Каждое payday-число в 9:00 напоминать\n• Считать прогноз дохода\n• Алертить про ИИС-3 (декабрь)\n• Считать streak\n\nПример: /setup 5 15000 balanced 1000000 5.5 alfa A3`;\n\nconst body = {\n  chat_id: user_id,\n  text: text,\n  /* parse_mode removed */\n};\nreturn [{ json: { body } }];"},"id":"fmt_setup","name":"fmt setup","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,4880]},{"parameters":{"jsCode":"// Handle /setup as text command (when user types /setup with params)\nconst user_id = $('Classify').first().json.user_id;\nconst full_text = $('Classify').first().json.text || '';\nconst match = full_text.match(/^\\/setup\\s+(\\d+)\\s+(\\d+)\\s+(\\w+)\\s+(\\d+)\\s+([\\d.]+)\\s+(\\w+)\\s+(\\w+)/i);\n\nif (!match) {\n  const body = {\n    chat_id: user_id,\n    text: '❌ Неверный формат.\\n\\nПример:\\n/setup 5 15000 balanced 1000000 5.5 alfa A3\\n\\nФормат: payday день monthly риск цель₽ лет брокер ИИС_тип'\n  };\n  return [{ json: { body } }];\n}\n\nconst [, payday_day, monthly, risk, goal_amount, goal_years, broker, iis_type] = match;\nreturn [{ json: {\n  user_id,\n  name: 'Инвестор',\n  payday_day: parseInt(payday_day),\n  monthly_amount: parseInt(monthly),\n  risk_profile: risk.toLowerCase(),\n  goal_amount: parseInt(goal_amount),\n  goal_years: parseFloat(goal_years),\n  broker: broker.toLowerCase(),\n  iis_type: iis_type.toUpperCase()\n} }];"},"id":"parse_setup","name":"parse setup","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,4976]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/onboard","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('parse setup').first().json) }}","options":{}},"id":"http_onboard","name":"HTTP onboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[464,5072]},{"parameters":{"jsCode":"// Reply to /setup with onboard result\nconst user_id = $('parse setup').first().json.user_id;\nconst onboard = $('HTTP onboard').first().json;\nconst state = onboard.state || {};\n\nconst body = {\n  chat_id: user_id,\n  text: onboard.message + '\\n\\n🎯 Твой план: payday ' + state.payday_day + '-е, ' + state.monthly_amount.toLocaleString('ru-RU') + '₽/мес, цель ' + (state.goal ? state.goal.target_amount.toLocaleString('ru-RU') : '?') + '₽ за ' + (state.goal ? state.goal.target_years : '?') + ' лет.\\n\\nПоехали! /start для главного меню.'\n};\nreturn [{ json: { body } }];"},"id":"fmt_setup_reply","name":"fmt setup reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,5072]},{"parameters":{"jsCode":"// Build body for /test reply: fraud + goal combined\nconst user_id = $('Classify').first().json.user_id;\nconst fraud = $('HTTP test_fraud').first().json;\nconst goal = $('HTTP test_goal').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: `✅ **Fraud check (типичный скам):**\\n\\n${fraud.message}\\n\\n🎯 **Goal:**\\n${goal.message}`\n};\nreturn [{ json: { body } }];"},"id":"fmt_test","name":"fmt test","type":"n8n-nodes-base.code","typeVersion":2,"position":[5616,4384]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt start').first().json.body) }}","options":{}},"id":"reply_start","name":"reply start","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1360,64]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt done').first().json.body) }}","options":{}},"id":"reply_done","name":"reply done","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2032,256]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt goal').first().json.body) }}","options":{}},"id":"reply_goal","name":"reply goal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1808,448]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt payday').first().json.body) }}","options":{}},"id":"reply_payday","name":"reply payday","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2032,640]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt today').first().json.body) }}","options":{}},"id":"reply_today","name":"reply today","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2256,832]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt plan').first().json.body) }}","options":{}},"id":"reply_plan","name":"reply plan","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2480,1024]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt fraud_inline').first().json.body) }}","options":{}},"id":"reply_fraud_inline","name":"reply fraud_inline","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2704,1216]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt share').first().json.body) }}","options":{}},"id":"reply_share","name":"reply share","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2928,1408]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt iis3').first().json.body) }}","options":{}},"id":"reply_iis3","name":"reply iis3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3152,1600]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt reset').first().json.body) }}","options":{}},"id":"reply_reset","name":"reply reset","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[688,4656]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt setup').first().json.body) }}","options":{}},"id":"reply_setup","name":"reply setup","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[688,4880]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt test').first().json.body) }}","options":{}},"id":"reply_test","name":"reply test","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5840,4384]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt setup reply').first().json.body) }}","options":{}},"id":"reply_setup_done","name":"reply setup done","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[912,5072]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $('Classify').first().json.user_id, text: $('HTTP help').first().json.text, reply_markup: $('HTTP help').first().json.reply_markup, parse_mode: 'Markdown' }) }}","options":{}},"id":"reply_help","name":"reply help","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6512,3784]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $('Classify').first().json.user_id, text: $('HTTP fraud_help').first().json.text, reply_markup: $('HTTP fraud_help').first().json.reply_markup, parse_mode: 'Markdown' }) }}","options":{}},"id":"reply_fraud_help","name":"reply fraud_help","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5840,3328]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"ask","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_ask","name":"IF ask","type":"n8n-nodes-base.if","typeVersion":2,"position":[2928,2968]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/ask","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id), text: $('Classify').first().json.text.replace(/^\\/ask(@\\w+)?\\s*/i, '').trim() || $('Classify').first().json.text }) }}","options":{}},"id":"http_ask","name":"HTTP ask","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3152,1792]},{"parameters":{"jsCode":"// Build body for /ask reply (YandexGPT-ассистент) с RAG-lite\nconst user_id = $('Classify').first().json.user_id;\nconst ask = $('HTTP ask').first().json;\nconst is_freetext = !$('Classify').first().json.text.startsWith('/');\n\nlet body_text;\nif (ask.ok) {\n  body_text = (is_freetext ? '' : '🤖 ') + ask.reply;\n} else {\n  body_text = ask.reply || 'ИИ недоступен. Попробуй позже.';\n}\n\nconst body = {\n  chat_id: user_id,\n  text: body_text,\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"📅 /today\", callback_data: \"cmd_today\"}, {text: \"📋 /plan\", callback_data: \"cmd_plan\"}],\n      [{text: \"❓ /help\", callback_data: \"cmd_help\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_ask","name":"fmt ask","type":"n8n-nodes-base.code","typeVersion":2,"position":[3376,1792]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt ask').first().json.body) }}","options":{}},"id":"reply_ask","name":"reply ask","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3600,1792]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"settings","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_settings","name":"IF settings","type":"n8n-nodes-base.if","typeVersion":2,"position":[3152,3064]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"digest","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_digest","name":"IF digest","type":"n8n-nodes-base.if","typeVersion":2,"position":[5840,3712]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/settings_menu","options":{}},"id":"http_settings_menu","name":"HTTP settings_menu","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3376,1984]},{"parameters":{"jsCode":"// /settings: v2 wizard\nconst user_id = $('Classify').first().json.user_id;\nconst menu_data = $('HTTP settings_menu').first().json;\n\nlet text = '⚙ **Настройки Капитала**\\n\\nВыбери что хочешь изменить:';\nlet reply_markup;\nif (menu_data.v2) {\n  text = menu_data.menu?.text || text;\n  reply_markup = menu_data.menu?.reply_markup;\n} else {\n  const m = menu_data.menu || {};\n  if (m.inline_keyboard) {\n    reply_markup = { inline_keyboard: m.inline_keyboard };\n  } else {\n    reply_markup = m.reply_markup;\n  }\n}\n\nconst body = {\n  chat_id: user_id,\n  text: text,\n  reply_markup: reply_markup,\n  parse_mode: 'Markdown'\n};\nreturn [{ json: { body } }];"},"id":"fmt_settings","name":"fmt settings","type":"n8n-nodes-base.code","typeVersion":2,"position":[3824,1984]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt settings').first().json.body) }}","options":{}},"id":"reply_settings_menu","name":"reply settings menu","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4048,1984]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.route }}","rightValue":"set_callback","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_set_callback","name":"IF set_callback","type":"n8n-nodes-base.if","typeVersion":2,"position":[3376,3160]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/get_state","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_get_state_set","name":"HTTP get_state_set","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3600,2176]},{"parameters":{"jsCode":"// /settings button: cmd_set_X → показать prompt + установить pending_setting\nconst user_id = $('Classify').first().json.user_id;\nconst cb = $('Classify').first().json.text;\nconst field = cb.replace('cmd_set_', '');\nconst state = $('HTTP get_state_set').first().json.state;\nconst current = state[field];\n\nconst prompts = {\n  payday_day: '📅 Введи новый payday-день (1-31). Например: 10',\n  monthly_amount: '💰 Введи новую сумму в месяц, ₽. Например: 20000',\n  risk_profile: '⚖ Выбери профиль кнопкой ниже:',\n  broker: '🏦 Выбери брокера кнопкой ниже:',\n  iis_type: '🏛 Выбери тип ИИС кнопкой ниже:',\n  _name: '👤 Введи имя:',\n};\nconst prompt = prompts[field] || 'Введи значение:';\n\nconst keyboard = { inline_keyboard: [] };\nif (field === 'risk_profile') {\n  keyboard.inline_keyboard = [\n    [{text: '🛡 Защитный', callback_data: 'setv_conservative'}],\n    [{text: '⚖ Сбалансированный', callback_data: 'setv_balanced'}],\n    [{text: '📈 Агрессивный', callback_data: 'setv_aggressive'}],\n  ];\n} else if (field === 'broker') {\n  keyboard.inline_keyboard = [\n    [{text: 'Т-Инвестиции', callback_data: 'setv_tinkoff'}, {text: 'Альфа', callback_data: 'setv_alfa'}],\n    [{text: 'БКС', callback_data: 'setv_bcs'}, {text: 'Финам', callback_data: 'setv_finam'}],\n    [{text: 'Сбер', callback_data: 'setv_sber'}, {text: 'Алор', callback_data: 'setv_alor'}],\n  ];\n} else if (field === 'iis_type') {\n  keyboard.inline_keyboard = [\n    [{text: 'ИИС А', callback_data: 'setv_A'}, {text: 'ИИС Б', callback_data: 'setv_B'}],\n    [{text: 'ИИС-3', callback_data: 'setv_A3'}, {text: 'Без ИИС', callback_data: 'setv_none'}],\n  ];\n} else {\n  keyboard.inline_keyboard = [[{text: '🚪 Отмена', callback_data: 'cmd_settings'}]];\n}\n\nconst body = {\n  chat_id: user_id,\n  text: prompt + (current ? '\\n\\nСейчас: ' + (typeof current === 'object' ? JSON.stringify(current) : current) : ''),\n  reply_markup: keyboard\n};\nreturn [{ json: { body, pending_field: field, current_value: current } }];"},"id":"fmt_set_prompt","name":"fmt set_prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[3824,2176]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt set_prompt').first().json.body) }}","options":{}},"id":"reply_set_prompt","name":"reply set_prompt","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4272,2176]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/event","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id), event_type: 'settings_view' }) }}","options":{}},"id":"http_log_settings_view","name":"HTTP log settings view","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3600,1984]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.text }}","rightValue":"setv_","operator":{"type":"string","operation":"startsWith","singleValue":true}}]},"options":{}},"id":"if_set_value","name":"IF set_value","type":"n8n-nodes-base.if","typeVersion":2,"position":[3600,3256]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/settings_update","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id), field: $('HTTP get_state_set2').first().json.state.pending_setting, value: $('Classify').first().json.text.replace('setv_', '') }) }}","options":{}},"id":"http_set_save","name":"HTTP set_save","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4048,2368]},{"parameters":{"jsCode":"// Подтверждение изменения настройки\nconst user_id = $('Classify').first().json.user_id;\nconst result = $('HTTP set_save').first().json;\n\nlet body_text;\nif (result.ok) {\n  const new_val = result.state[result.field] || result.value;\n  body_text = `✅ Готово! ${result.field} = ${new_val}\\n\\nИспользуй /settings для других изменений.`;\n} else {\n  body_text = `❌ Ошибка: ${result.error}`;\n}\n\nconst body = {\n  chat_id: user_id,\n  text: body_text,\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"⚙ Ещё настройки\", callback_data: \"cmd_settings\"}],\n      [{text: \"📅 /today\", callback_data: \"cmd_today\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_set_done","name":"fmt set_done","type":"n8n-nodes-base.code","typeVersion":2,"position":[4272,2368]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt set_done').first().json.body) }}","options":{}},"id":"reply_set_done","name":"reply set_done","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4720,2368]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/digest","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_digest","name":"HTTP digest","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,5296]},{"parameters":{"jsCode":"// /digest: показать weekly digest\nconst user_id = $('Classify').first().json.user_id;\nconst digest = $('HTTP digest').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: digest.text || 'Ошибка дайджеста',\n  reply_markup: {\n    inline_keyboard: [\n      [{text: \"📅 /today\", callback_data: \"cmd_today\"}, {text: \"📋 /plan\", callback_data: \"cmd_plan\"}],\n      [{text: \"📤 /share\", callback_data: \"cmd_share\"}]\n    ]\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_digest","name":"fmt digest","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,5296]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt digest').first().json.body) }}","options":{}},"id":"reply_digest","name":"reply digest","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[688,5296]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/settings_update","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id), field: 'pending_setting', value: $('fmt set_prompt').first().json.pending_field }) }}","options":{}},"id":"http_set_pending","name":"HTTP set_pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4048,2176]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/get_state","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_get_state_set2","name":"HTTP get_state_set2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3824,2368]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/settings_update","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id), field: 'pending_setting', value: null }) }}","options":{}},"id":"http_clear_pending","name":"HTTP clear_pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4496,2368]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sc1","leftValue":"={{ $json.route }}","rightValue":"schedule","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_schedule","name":"IF schedule","type":"n8n-nodes-base.if","typeVersion":2,"position":[3824,3352]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule_view","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_id: $('Classify').first().json.user_id}) }}","options":{}},"id":"http_schedule","name":"HTTP schedule","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4048,4096]},{"parameters":{"jsCode":"// Build body for /schedule reply with inline keyboard\nconst user_id = $('Classify').first().json.user_id;\nconst data = $('HTTP schedule').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: data.message,\n  reply_markup: {\n    inline_keyboard: data.keyboard\n  }\n};\nreturn [{ json: { body } }];"},"id":"fmt_schedule","name":"fmt schedule","type":"n8n-nodes-base.code","typeVersion":2,"position":[4272,4096]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt schedule').first().json.body) }}","options":{}},"id":"reply_schedule","name":"reply schedule","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4496,4096]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule_presets","options":{}},"id":"http_schedule_presets","name":"HTTP schedule_presets","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4496,2752]},{"parameters":{"jsCode":"// Show preset selection\nconst user_id = $('Classify').first().json.user_id;\nconst cb = $('HTTP schedule_presets').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: '📅 **Выбери пресет расписания:**',\n  reply_markup: { inline_keyboard: cb.keyboard }\n};\nreturn [{ json: { body } }];"},"id":"fmt_presets","name":"fmt presets","type":"n8n-nodes-base.code","typeVersion":2,"position":[4720,2752]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt presets').first().json.body) }}","options":{}},"id":"reply_presets","name":"reply presets","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4944,2752]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule_update","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_id: $('Classify').first().json.user_id, action: 'preset', value: $('Classify').first().json.text.replace('schv_', '')}) }}","options":{}},"id":"http_set_preset","name":"HTTP set_preset","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4720,2944]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_id: $('Classify').first().json.user_id}) }}","options":{}},"id":"http_schedule_after_set","name":"HTTP schedule (after set)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4944,2944]},{"parameters":{"jsCode":"// Confirm preset change + show updated schedule\nconst user_id = $('Classify').first().json.user_id;\nconst updated = $('HTTP schedule (after set)').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: '✅ Пресет обновлён.\\n\\n' + updated.message,\n  reply_markup: { inline_keyboard: updated.keyboard }\n};\nreturn [{ json: { body } }];"},"id":"fmt_preset_confirm","name":"fmt preset_confirm","type":"n8n-nodes-base.code","typeVersion":2,"position":[5168,2944]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt preset_confirm').first().json.body) }}","options":{}},"id":"reply_preset_confirm","name":"reply preset_confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5392,2944]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule_update","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_id: $('Classify').first().json.user_id, action: 'remind', value: $('Classify').first().json.text === 'cmd_set_remind_3' ? 3 : 0}) }}","options":{}},"id":"http_set_remind","name":"HTTP set_remind","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4944,3136]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_id: $('Classify').first().json.user_id}) }}","options":{}},"id":"http_schedule_after_remind","name":"HTTP schedule (after remind)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5168,3136]},{"parameters":{"jsCode":"// Confirm reminder change + show updated schedule\nconst user_id = $('Classify').first().json.user_id;\nconst updated = $('HTTP schedule (after remind)').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: '🔔 Напоминание обновлено.\\n\\n' + updated.message,\n  reply_markup: { inline_keyboard: updated.keyboard }\n};\nreturn [{ json: { body } }];"},"id":"fmt_remind_confirm","name":"fmt remind_confirm","type":"n8n-nodes-base.code","typeVersion":2,"position":[5392,3136]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt remind_confirm').first().json.body) }}","options":{}},"id":"reply_remind_confirm","name":"reply remind_confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5616,3136]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule_update","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => { const d = new Date(); d.setMonth(d.getMonth() + 1); return JSON.stringify({user_id: $('Classify').first().json.user_id, action: 'pause', value: d.toISOString().split('T')[0]}); })() }}","options":{}},"id":"http_pause","name":"HTTP pause","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,5520]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_id: $('Classify').first().json.user_id}) }}","options":{}},"id":"http_schedule_after_pause","name":"HTTP schedule (after pause)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,5744]},{"parameters":{"jsCode":"// Pause confirmation\nconst user_id = $('Classify').first().json.user_id;\nconst updated = $('HTTP schedule (after pause)').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: '⏸ Расписание на паузе.\\n\\n' + updated.message,\n  reply_markup: { inline_keyboard: updated.keyboard }\n};\nreturn [{ json: { body } }];"},"id":"fmt_pause_confirm","name":"fmt pause_confirm","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,5968]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt pause_confirm').first().json.body) }}","options":{}},"id":"reply_pause_confirm","name":"reply pause_confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,6192]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule_update","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_id: $('Classify').first().json.user_id, action: 'resume'}) }}","options":{}},"id":"http_resume","name":"HTTP resume","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,6640]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_id: $('Classify').first().json.user_id}) }}","options":{}},"id":"http_schedule_after_resume","name":"HTTP schedule (after resume)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,6864]},{"parameters":{"jsCode":"// Resume confirmation\nconst user_id = $('Classify').first().json.user_id;\nconst updated = $('HTTP schedule (after resume)').first().json;\n\nconst body = {\n  chat_id: user_id,\n  text: '▶ Расписание возобновлено.\\n\\n' + updated.message,\n  reply_markup: { inline_keyboard: updated.keyboard }\n};\nreturn [{ json: { body } }];"},"id":"fmt_resume_confirm","name":"fmt resume_confirm","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,7088]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('fmt resume_confirm').first().json.body) }}","options":{}},"id":"reply_resume_confirm","name":"reply resume_confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,7312]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sa0_1","leftValue":"={{ $json.route }}","rightValue":"schedule_set_preset","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_if_schedule_set_preset","name":"IF schedule_set_preset","type":"n8n-nodes-base.if","typeVersion":2,"position":[4496,3448]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sa1_1","leftValue":"={{ $json.route }}","rightValue":"schedule_set_remind","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_if_schedule_set_remind","name":"IF schedule_set_remind","type":"n8n-nodes-base.if","typeVersion":2,"position":[4720,3544]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sa2_1","leftValue":"={{ $json.route }}","rightValue":"schedule_pause","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_if_schedule_pause","name":"IF schedule_pause","type":"n8n-nodes-base.if","typeVersion":2,"position":[4944,3640]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sa3_1","leftValue":"={{ $json.route }}","rightValue":"schedule_resume","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_if_schedule_resume","name":"IF schedule_resume","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,6416]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sp1","leftValue":"={{ $json.route }}","rightValue":"schedule_show_presets","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_schedule_show_presets","name":"IF schedule_show_presets","type":"n8n-nodes-base.if","typeVersion":2,"position":[4272,3352]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sa1","leftValue":"={{ $json.route }}","rightValue":"sch_action","operator":{"type":"string","operation":"equals","singleValue":true}}]},"options":{}},"id":"if_sch_action","name":"IF sch_action","type":"n8n-nodes-base.if","typeVersion":2,"position":[4048,3256],"webhookId":"sch-action-if"},{"parameters":{"jsCode":"// Parse callback_data to action + value\nconst text = $json.text || '';\nconst user_id = String($json.user_id);\nlet action = 'unknown';\nlet value = null;\n\nif (text.startsWith('sch_amount_')) {\n  action = 'set_amount';\n  value = text.replace('sch_amount_', '');\n} else if (text.startsWith('sch_remind_')) {\n  action = 'set_remind';\n  value = text.replace('sch_remind_', '');\n} else if (text.startsWith('sch_pause_')) {\n  action = 'set_pause';\n  value = text.replace('sch_pause_', '');\n} else if (text.startsWith('sch_set_')) {\n  action = 'set_preset';\n  value = text.replace('sch_set_', '');\n} else if (text === 'sch_presets') action = 'show_presets';\nelse if (text === 'sch_amounts') action = 'show_amounts';\nelse if (text === 'sch_reminders') action = 'show_reminders';\nelse if (text === 'sch_pauses') action = 'show_pauses';\nelse if (text === 'sch_resume') action = 'resume';\nelse if (text === 'sch_back') action = 'back';\n\nreturn [{ json: { user_id, action, value, text } }];"},"id":"code_parse_cb","name":"parse callback","type":"n8n-nodes-base.code","typeVersion":2,"position":[4272,2560]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/schedule_action","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"user_id\": {{ JSON.stringify($('parse callback').first().json.user_id) }},\n  \"action\": {{ JSON.stringify($('parse callback').first().json.action) }},\n  \"value\": {{ JSON.stringify($('parse callback').first().json.value) }}\n}","options":{"response":{"response":{"neverError":true}},"timeout":10000}},"id":"http_sch_action_v2","name":"HTTP schedule_action v2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4496,2560]},{"parameters":{"jsCode":"// Build Telegram reply from schedule_action result\nconst result = $input.first().json;\nconst classify = $('Classify').first().json;\nconst cq = classify.update?.callback_query;\nif (!cq) {\n  return [{ json: { error: 'no callback_query' }}];\n}\nconst cb_id = cq.id;\nconst message_id = cq.message.message_id;\nconst chat_id = cq.message.chat.id;\n\nif (!result.ok) {\n  return [{ json: {\n    method: 'answerCallbackQuery',\n    callback_query_id: cb_id,\n    text: result.message || 'Ошибка',\n    show_alert: true,\n  }}];\n}\n\nconst msg = result.message || '';\nconst card = result.full_card;\nconst kb = result.keyboard || [];\n\n// Use ONLY one: short confirm if no card update, or just card\nconst replyText = card || msg;\n\nreturn [{ json: {\n  method: 'editMessageText',\n  chat_id: chat_id,\n  message_id: message_id,\n  text: replyText,\n  reply_markup: { inline_keyboard: kb },\n  callback_query_id: cb_id,\n  callback_text: msg.startsWith('✅') ? 'Готово' : (msg.startsWith('⏸') ? 'Пауза' : ''),\n}}];"},"id":"fmt_sch_reply_v2","name":"fmt sch reply v2","type":"n8n-nodes-base.code","typeVersion":2,"position":[4720,2560]},{"parameters":{"url":"=https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/{{$json.method}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify((function() { const m = $json.method; if (m === 'editMessageText') return { chat_id: $json.chat_id, message_id: $json.message_id, text: $json.text, reply_markup: $json.reply_markup, parse_mode: 'HTML' }; if (m === 'answerCallbackQuery') return { callback_query_id: $json.callback_query_id, text: $json.text, show_alert: $json.show_alert || false }; return {}; })()) }}","options":{"response":{"response":{"neverError":true}},"timeout":10000}},"id":"http_send_v2","name":"HTTP send telegram v2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4944,2560]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/get_state","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{}},"id":"http_get_state_done","name":"HTTP get_state (2)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1584,256]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/help","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{"timeout":10000}},"id":"1000","name":"HTTP help","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6064,3976]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/fraud_help","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{"timeout":10000}},"id":"1001","name":"HTTP fraud_help","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5392,3328]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/reset_help","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{"timeout":10000}},"id":"1002","name":"HTTP reset_help","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6064,4240]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/setup_help","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{"timeout":10000}},"id":"1003","name":"HTTP setup_help","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6064,3496]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/kapital/digest_help","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ user_id: String($('Classify').first().json.user_id) }) }}","options":{"timeout":10000}},"id":"1004","name":"HTTP digest_help","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6064,3784]},{"parameters":{"jsCode":"const user_id = $('Classify').first().json.user_id;\nconst data = $('HTTP help').first().json;\nconst body = {\n  chat_id: user_id,\n  text: data.text,\n  reply_markup: data.reply_markup,\n  parse_mode: \"Markdown\"\n};\nreturn [{ json: { body } }];"},"id":"1005","name":"fmt help","type":"n8n-nodes-base.code","typeVersion":2,"position":[6288,3976]},{"parameters":{"jsCode":"const user_id = $('Classify').first().json.user_id;\nconst data = $('HTTP fraud_help').first().json;\nconst body = {\n  chat_id: user_id,\n  text: data.text,\n  reply_markup: data.reply_markup,\n  parse_mode: \"Markdown\"\n};\nreturn [{ json: { body } }];"},"id":"1006","name":"fmt fraud_help","type":"n8n-nodes-base.code","typeVersion":2,"position":[5616,3328]},{"parameters":{"jsCode":"const user_id = $('Classify').first().json.user_id;\nconst data = $('HTTP reset_help').first().json;\nconst body = {\n  chat_id: user_id,\n  text: data.text,\n  reply_markup: data.reply_markup,\n  parse_mode: \"Markdown\"\n};\nreturn [{ json: { body } }];"},"id":"1007","name":"fmt reset_help","type":"n8n-nodes-base.code","typeVersion":2,"position":[6288,4240]},{"parameters":{"jsCode":"const user_id = $('Classify').first().json.user_id;\nconst data = $('HTTP setup_help').first().json;\nconst body = {\n  chat_id: user_id,\n  text: data.text,\n  reply_markup: data.reply_markup,\n  parse_mode: \"Markdown\"\n};\nreturn [{ json: { body } }];"},"id":"1008","name":"fmt setup_help","type":"n8n-nodes-base.code","typeVersion":2,"position":[6288,3496]},{"parameters":{"jsCode":"const user_id = $('Classify').first().json.user_id;\nconst data = $('HTTP digest_help').first().json;\nconst body = {\n  chat_id: user_id,\n  text: data.text,\n  reply_markup: data.reply_markup,\n  parse_mode: \"Markdown\"\n};\nreturn [{ json: { body } }];"},"id":"1009","name":"fmt digest_help","type":"n8n-nodes-base.code","typeVersion":2,"position":[6288,3784]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Classify","type":"main","index":0}]]},"Classify":{"main":[[{"node":"IF start","type":"main","index":0}]]},"IF start":{"main":[[{"node":"HTTP get_state","type":"main","index":0}],[{"node":"IF done","type":"main","index":0}]]},"HTTP get_state":{"main":[[{"node":"fmt start","type":"main","index":0}]]},"fmt start":{"main":[[{"node":"reply start","type":"main","index":0}]]},"IF done":{"main":[[{"node":"HTTP streak","type":"main","index":0}],[{"node":"IF goal","type":"main","index":0}]]},"HTTP streak":{"main":[[{"node":"HTTP goal (for done)","type":"main","index":0}]]},"HTTP goal (for done)":{"main":[[{"node":"HTTP get_state (2)","type":"main","index":0}]]},"HTTP get_state (2)":{"main":[[{"node":"fmt done","type":"main","index":0}]]},"fmt done":{"main":[[{"node":"reply done","type":"main","index":0}]]},"IF goal":{"main":[[{"node":"HTTP goal (for goal)","type":"main","index":0}],[{"node":"IF payday","type":"main","index":0}]]},"HTTP goal (for goal)":{"main":[[{"node":"fmt goal","type":"main","index":0}]]},"fmt goal":{"main":[[{"node":"reply goal","type":"main","index":0}]]},"IF payday":{"main":[[{"node":"HTTP payday","type":"main","index":0}],[{"node":"IF today","type":"main","index":0}]]},"HTTP payday":{"main":[[{"node":"fmt payday","type":"main","index":0}]]},"fmt payday":{"main":[[{"node":"reply payday","type":"main","index":0}]]},"IF today":{"main":[[{"node":"HTTP today","type":"main","index":0}],[{"node":"IF plan","type":"main","index":0}]]},"HTTP today":{"main":[[{"node":"fmt today","type":"main","index":0}]]},"fmt today":{"main":[[{"node":"reply today","type":"main","index":0}]]},"IF plan":{"main":[[{"node":"HTTP plan","type":"main","index":0}],[{"node":"IF fraud_inline","type":"main","index":0}]]},"HTTP plan":{"main":[[{"node":"fmt plan","type":"main","index":0}]]},"fmt plan":{"main":[[{"node":"reply plan","type":"main","index":0}]]},"IF fraud_inline":{"main":[[{"node":"HTTP fraud","type":"main","index":0}],[{"node":"IF share","type":"main","index":0}]]},"HTTP fraud":{"main":[[{"node":"fmt fraud_inline","type":"main","index":0}]]},"fmt fraud_inline":{"main":[[{"node":"reply fraud_inline","type":"main","index":0}]]},"IF share":{"main":[[{"node":"HTTP share","type":"main","index":0}],[{"node":"IF iis3","type":"main","index":0}]]},"HTTP share":{"main":[[{"node":"fmt share","type":"main","index":0}]]},"fmt share":{"main":[[{"node":"reply share","type":"main","index":0}]]},"IF iis3":{"main":[[{"node":"HTTP iis3","type":"main","index":0}],[{"node":"IF reset","type":"main","index":0}]]},"HTTP iis3":{"main":[[{"node":"fmt iis3","type":"main","index":0}]]},"fmt iis3":{"main":[[{"node":"reply iis3","type":"main","index":0}]]},"IF reset":{"main":[[{"node":"HTTP reset_help","type":"main","index":0}],[{"node":"IF ask","type":"main","index":0}]]},"HTTP reset":{"main":[[{"node":"fmt reset","type":"main","index":0}]]},"fmt reset":{"main":[[{"node":"reply reset","type":"main","index":0}]]},"IF setup":{"main":[[{"node":"HTTP setup_help","type":"main","index":0}],[{"node":"IF digest","type":"main","index":0}]]},"parse setup":{"main":[[{"node":"fmt setup","type":"main","index":0}],[{"node":"HTTP onboard","type":"main","index":0}]]},"fmt setup":{"main":[[{"node":"reply setup","type":"main","index":0}]]},"HTTP onboard":{"main":[[{"node":"fmt setup reply","type":"main","index":0}]]},"fmt setup reply":{"main":[[{"node":"reply setup done","type":"main","index":0}]]},"IF test":{"main":[[{"node":"HTTP test_fraud","type":"main","index":0}],[{"node":"IF fraud","type":"main","index":0}]]},"HTTP test_fraud":{"main":[[{"node":"HTTP test_goal","type":"main","index":0}]]},"HTTP test_goal":{"main":[[{"node":"fmt test","type":"main","index":0}]]},"fmt test":{"main":[[{"node":"reply test","type":"main","index":0}]]},"IF fraud":{"main":[[{"node":"HTTP fraud_help","type":"main","index":0}],[{"node":"IF help","type":"main","index":0}]]},"IF help":{"main":[[{"node":"HTTP help","type":"main","index":0}],[{"node":"IF setup","type":"main","index":0}]]},"IF ask":{"main":[[{"node":"HTTP ask","type":"main","index":0}],[{"node":"IF settings","type":"main","index":0}]]},"HTTP ask":{"main":[[{"node":"fmt ask","type":"main","index":0}]]},"fmt ask":{"main":[[{"node":"reply ask","type":"main","index":0}]]},"IF settings":{"main":[[{"node":"HTTP settings_menu","type":"main","index":0}],[{"node":"IF set_callback","type":"main","index":0}]]},"HTTP settings_menu":{"main":[[{"node":"HTTP log settings view","type":"main","index":0}]]},"HTTP log settings view":{"main":[[{"node":"fmt settings","type":"main","index":0}]]},"fmt settings":{"main":[[{"node":"reply settings menu","type":"main","index":0}]]},"IF set_callback":{"main":[[{"node":"HTTP get_state_set","type":"main","index":0}],[{"node":"IF set_value","type":"main","index":0}]]},"HTTP get_state_set":{"main":[[{"node":"fmt set_prompt","type":"main","index":0}]]},"fmt set_prompt":{"main":[[{"node":"HTTP set_pending","type":"main","index":0}]]},"IF set_value":{"main":[[{"node":"HTTP get_state_set2","type":"main","index":0}],[{"node":"IF schedule","type":"main","index":0}]]},"HTTP set_save":{"main":[[{"node":"fmt set_done","type":"main","index":0}]]},"fmt set_done":{"main":[[{"node":"HTTP clear_pending","type":"main","index":0}]]},"IF digest":{"main":[[{"node":"HTTP digest_help","type":"main","index":0}],[{"node":"reply help","type":"main","index":0}]]},"HTTP digest":{"main":[[{"node":"fmt digest","type":"main","index":0}]]},"fmt digest":{"main":[[{"node":"reply digest","type":"main","index":0}]]},"HTTP set_pending":{"main":[[{"node":"reply set_prompt","type":"main","index":0}]]},"HTTP get_state_set2":{"main":[[{"node":"HTTP set_save","type":"main","index":0}]]},"HTTP clear_pending":{"main":[[{"node":"reply set_done","type":"main","index":0}]]},"IF schedule":{"main":[[{"node":"HTTP schedule","type":"main","index":0}],[{"node":"IF sch_action","type":"main","index":0}]]},"HTTP schedule":{"main":[[{"node":"fmt schedule","type":"main","index":0}]]},"fmt schedule":{"main":[[{"node":"reply schedule","type":"main","index":0}]]},"IF schedule_set_preset":{"main":[[{"node":"HTTP set_preset","type":"main","index":0}],[{"node":"IF schedule_set_remind","type":"main","index":0}]]},"HTTP set_preset":{"main":[[{"node":"HTTP schedule (after set)","type":"main","index":0}]]},"HTTP schedule (after set)":{"main":[[{"node":"fmt preset_confirm","type":"main","index":0}]]},"fmt preset_confirm":{"main":[[{"node":"reply preset_confirm","type":"main","index":0}]]},"IF schedule_set_remind":{"main":[[{"node":"HTTP set_remind","type":"main","index":0}],[{"node":"IF schedule_pause","type":"main","index":0}]]},"HTTP set_remind":{"main":[[{"node":"HTTP schedule (after remind)","type":"main","index":0}]]},"HTTP schedule (after remind)":{"main":[[{"node":"fmt remind_confirm","type":"main","index":0}]]},"fmt remind_confirm":{"main":[[{"node":"reply remind_confirm","type":"main","index":0}]]},"IF schedule_show_presets":{"main":[[{"node":"HTTP schedule_presets","type":"main","index":0}],[{"node":"IF schedule_set_preset","type":"main","index":0}]]},"HTTP schedule_presets":{"main":[[{"node":"fmt presets","type":"main","index":0}]]},"fmt presets":{"main":[[{"node":"reply presets","type":"main","index":0}]]},"IF sch_action":{"main":[[{"node":"parse callback","type":"main","index":0}],[{"node":"IF schedule_show_presets","type":"main","index":0}]]},"parse callback":{"main":[[{"node":"HTTP schedule_action v2","type":"main","index":0}]]},"HTTP schedule_action v2":{"main":[[{"node":"fmt sch reply v2","type":"main","index":0}]]},"fmt sch reply v2":{"main":[[{"node":"HTTP send telegram v2","type":"main","index":0}]]},"IF schedule_pause":{"main":[[],[{"node":"IF fraud","type":"main","index":0}]]},"HTTP help":{"main":[[{"node":"fmt help","type":"main","index":0}]]},"HTTP fraud_help":{"main":[[{"node":"fmt fraud_help","type":"main","index":0}]]},"HTTP reset_help":{"main":[[{"node":"fmt reset_help","type":"main","index":0}]]},"HTTP setup_help":{"main":[[{"node":"fmt setup_help","type":"main","index":0}]]},"HTTP digest_help":{"main":[[{"node":"fmt digest_help","type":"main","index":0}]]},"fmt help":{"main":[[{"node":"reply help","type":"main","index":0}]]},"fmt fraud_help":{"main":[[{"node":"reply fraud_help","type":"main","index":0}]]},"fmt reset_help":{"main":[[{"node":"reply help","type":"main","index":0}]]},"fmt setup_help":{"main":[[{"node":"reply help","type":"main","index":0}]]},"fmt digest_help":{"main":[[{"node":"reply help","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"8863ba4b-01f5-47c8-bcc1-6e5dde2c14a5","activeVersionId":"3373d2a9-001a-446d-8411-2dc288903c56","versionCounter":192,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-11T20:37:15.219Z","createdAt":"2026-06-11T20:37:15.219Z","role":"workflow:owner","workflowId":"0vbPVWktPYDlqg05","projectId":"Wz9k51qtT76NzEjN","project":{"updatedAt":"2026-05-26T13:31:08.934Z","createdAt":"2026-05-26T13:30:39.191Z","id":"Wz9k51qtT76NzEjN","name":"Admin Admin <swzhukov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0b8df60b-b605-4e5b-86ea-cd1a34ecd73d"}}],"versionMetadata":{"name":null,"description":null}}]